@media (prefers-color-scheme: dark) {
  .dark {
    background-color: rgb(24, 26, 27) !important;
    color: aliceblue !important;
    box-shadow: rgba(34, 36, 38, 0.15) 0px 1px 2px 0px !important;
    border-color: rgba(232, 236, 0, 0.425) !important;
  }
}

@media (prefers-color-scheme: light) {
  .light {
    background: #eee !important;
    color: black !important;
    /* border-color: rgba(50, 68, 119, 0.425) !important; */
    box-shadow: rgba(34, 36, 38, 0.15) 0px 1px 2px 0px !important;
    border-color: rgb(1, 174, 255) !important;
  }
}